Source: hamonikr-support
Section: utils
Priority: optional
Maintainer: HamoniKR <pkg@hamonikr.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5

Package: hamonikr-support
Architecture: all
Depends: zenity,
         ${misc:Depends},
Description: Technial Support tool for HamoniKR
 하모니카 기술지원 프로그램.
